

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista cuentas</title>
</head>
    <body>
		<h1>Lista Cuentas</h1>
    
	<div class="formulario">
		<form action="/clientes" method="GET">
			<table class="table_form">
				<tr>
				<div class="form-group">
					<td>CLIENTE</td>
					<td><input type="text" name="cliente" class="form-control"></td>
				</div>
				</tr>
				<tr>
				<div class="form-group">
					<td>CUENTA</td>
					<td><input type="text" name="cuenta" class="form-control"></td>
				</div>
				</tr>
				<tr>
				<div class="form-group">
					<td>DESCRIPCION</td>
					<td><input type="text" name="descripcion" class="form-control"></td>
				</div>
				</tr>
				<tr>
				<div class="form-group">
					<td>DEUDA VENCIDA</td>
					<td><input type="text" name="deuda_vencida" class="form-control"></td>
				</div>
				</tr>
				<tr>
				<div class="form-group">
					<td>DEUDA A VENCER</td>
					<td><input type="text" name="deuda_a_vencer" class="form-control"></td>
				</div>
				</tr>
				<tr>
				<div class="form-group">
					<td>FECHA DE MORA</td>
					<td><input type="text" name="fecha_mora" class="form-control"></td>
				</div>
				</tr>
				<tr>
					<td><button type="submit" class="btn_add">
					Agregar
					</button></td>
				</tr>
			</table>
		</form>
	</div>
	
	
	<div class="lista-cli">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Cuenta</th>
					<th>Descripcion</th>
					<th>Deuda Vencida</th>
					<th>Deuda a Vencer</th>
					<th>Fecha de Mora</th>
				</tr>
			</thead>
			<tbody>
				<% for(var 1 = 1 ; 1 < cuentas.length; i++){ %>
					<tr>
						<td><%= i + 1 %></td>
						<td><%= clientes[i].id_cliente %></td>
						<td><%= clientes[i].id_cuenta %></td>
						<td><%= clientes[i].descripcion %></td>
						<td><%= clientes[i].deuda_vencida %></td>
						<td><%= clientes[i].deuda_a_vencer %></td>
						<td><%= clientes[i].fecha_ingreso_mora %></td>
					</tr>
				<%}%>
			
			</tbody>
		</table>
    </div>
    </body>
</html>